<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105168706628-2h9bds77i2inv5dg9kcn4bmbr01pe0jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105168706628-2h9bds77i2inv5dg9kcn4bmbr01pe0jp</string>
	<key>API_KEY</key>
	<string>AIzaSyDJcf3WJKKQGYZOCYUTkR39GEy_mT06gZs</string>
	<key>GCM_SENDER_ID</key>
	<string>105168706628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elgrocer.com.ElGrocerShopper</string>
	<key>PROJECT_ID</key>
	<string>elgrocer-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>elgrocer-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:105168706628:ios:92637586267b7f0cafb011</string>
</dict>
</plist>
