<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793956033248-ppiistkgi90im37138ded8m85f6mm4l2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793956033248-ppiistkgi90im37138ded8m85f6mm4l2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793956033248-3ibj3tu9l71u6vf5aflp3nfrsandro5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWHul-ZoG5mcMp5PQbf-JGitsgaIN0ov8</string>
	<key>GCM_SENDER_ID</key>
	<string>793956033248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Etisalat.HouseApps</string>
	<key>PROJECT_ID</key>
	<string>elgrocer-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>elgrocer-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793956033248:ios:07b1ffb22fe4696301a685</string>
	<key>DATABASE_URL</key>
	<string>https://elgrocer-v2.firebaseio.com</string>
</dict>
</plist>