<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434254382905-lrab4l21j5a8641p6llct8ib151ncq11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434254382905-lrab4l21j5a8641p6llct8ib151ncq11</string>
	<key>API_KEY</key>
	<string>AIzaSyA3vd2E1bBLezwvAapDaFuoFIw2VnXjjlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>434254382905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elgrocer.com.ElGrocerShopper</string>
	<key>PROJECT_ID</key>
	<string>elgrocer</string>
	<key>STORAGE_BUCKET</key>
	<string>elgrocer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:434254382905:ios:7a943896997dc9dff24ae8</string>
	<key>DATABASE_URL</key>
	<string>https://elgrocer.firebaseio.com</string>
	<key>TRACKING_ID</key>
	<string>UA-64355049-2</string>
</dict>
</plist>
