<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Cigar</string>
	<string>Cigarette</string>
	<string>Cigarret</string>
	<string>Cigarretes</string>
	<string>Tobaco</string>
	<string>Tobacco</string>
	<string>Scorpion</string>
	<string>Dunhill</string>
	<string>Gold leaf</string>
	<string>Marlboro</string>
	<string>Parliament</string>
	<string>Gitanes</string>
	<string>Panther</string>
	<string>Al fakher</string>
	<string>King edward</string>
	<string>Winston</string>
	<string>Benson &amp; hedges</string>
	<string>Dorchester</string>
	<string>Gauloises</string>
	<string>Panter</string>
	<string>Gold Coast</string>
	<string>Rothman&apos;s</string>
	<string>Pine Cigarettes</string>
	<string>Esse Cigarettes</string>
	<string>Cigarettes</string>
	<string>Cigarete</string>
	<string>Scorpian</string>
	<string>Dunhil</string>
	<string>Gold leef</string>
	<string>Marlbro</string>
	<string>Parliment</string>
	<string>Gittanes</string>
	<string>Penther</string>
	<string>Alfakher</string>
	<string>Kingedward</string>
	<string>Winstan</string>
	<string>Benson hedge</string>
	<string>Dorchaster</string>
	<string>Gauloses</string>
	<string>Penter</string>
	<string>Gold Cost</string>
	<string>Rothmans</string>
	<string>Pine Cigaretes</string>
	<string>Esse Cigaretes</string>
	<string>Scarpion</string>
	<string>Dunhell</string>
	<string>Goldleaf</string>
	<string>Malboro</string>
	<string>Parlement</string>
	<string>Gitans</string>
	<string>Panthr</string>
	<string>Alfakhr</string>
	<string>King edwerd</string>
	<string>Winstone</string>
	<string>Bensonhedge</string>
	<string>Dorchestre</string>
	<string>Gauloisses</string>
	<string>Pentere</string>
	<string>Goldcoast</string>
	<string>Rothmens</string>
	<string>Pine Cigarett</string>
	<string>Esse Cigarett</string>
	<string>Scorpian</string>
	<string>Danhill</string>
	<string>Goldleef</string>
	<string>Malbro</string>
	<string>Parliamentt</string>
	<string>Gitanse</string>
	<string>Panthre</string>
	<string>Alfaakher</string>
	<string>King adwerd</string>
	<string>Vinston</string>
	<string>Benson hege</string>
	<string>Darchester</string>
	<string>Gauloisis</string>
	<string>Panter</string>
	<string>Gold coaste</string>
	<string>Rothmanns</string>
	<string>Pine Cigrattes</string>
	<string>Esse Cigrattes</string>
	<string>سجائر</string>
	<string>سيجار</string>
	<string>تبغ</string>
	<string>سيجارة</string>
	<string>سكوربيون</string>
	<string>دنهيل</string>
	<string>جولد ليف</string>
	<string>مارلبورو</string>
	<string>البرلمان</string>
	<string>جيتان</string>
	<string>بانثر</string>
	<string>الفاخر</string>
	<string>كنج إدوارد</string>
	<string>وينستون</string>
	<string>بنسون أند هيدجز</string>
	<string>دورشستر</string>
	<string>قولواز</string>
	<string>بانتر</string>
	<string>جولد كوست</string>
	<string>روذمانز</string>
	<string>سجائر باين</string>
	<string>سجائر إيسي</string>
	<string>سكوربيان</string>
	<string>دانهل</string>
	<string>غولد ليف</string>
	<string>مارلبرو</string>
	<string>البرلمن</string>
	<string>جيتين</string>
	<string>بينثر</string>
	<string>الفخر</string>
	<string>كنج ادوارد</string>
	<string>وينستان</string>
	<string>بنسون اند هيدج</string>
	<string>دورشاستر</string>
	<string>قلواز</string>
	<string>بنتر</string>
	<string>جولد كست</string>
	<string>روذمان</string>
	<string>سجائر بين</string>
	<string>سجائر إسي</string>
	<string>سكاربيون</string>
	<string>دنهل</string>
	<string>جلد ليف</string>
	<string>مالبورو</string>
	<string>برلمان</string>
	<string>جتان</string>
	<string>بنثر</string>
	<string>الفاخ</string>
	<string>كنج إدوار</string>
	<string>ونستون</string>
	<string>بينسون اند هدجز</string>
	<string>درشستر</string>
	<string>قولوز</string>
	<string>بينتر</string>
	<string>جولد كوس</string>
	<string>رذمانز</string>
	<string>سجاير باين</string>
	<string>سجاير ايسي</string>
	<string>سكاربيان</string>
	<string>دانهيل</string>
	<string>جولد لف</string>
	<string>مالبرو</string>
	<string>البلمان</string>
	<string>جيتن</string>
	<string>باثر</string>
	<string>الفاخير</string>
	<string>كنج أدوارد</string>
	<string>فينستون</string>
	<string>بنسون اند هدج</string>
	<string>دارشستر</string>
	<string>قلوز</string>
	<string>بانر</string>
	<string>جلد كوست</string>
	<string>روذمنز</string>
	<string>سجائر بان</string>
	<string>سجائر إيس</string>
</array>
</plist>
