<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>el-grocer-shopper-sdk-iOS_Example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>265</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5264822A87B79054B8FAF6761D6C33B7C11DAD9D</string>
				<key>dateExpires</key>
				<string>19/10/2024</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>265</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5264822A87B79054B8FAF6761D6C33B7C11DAD9D</string>
						<key>dateExpires</key>
						<string>19/10/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Adyen3DS2.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N883C2D2B2</string>
						<key>name</key>
						<string>Nuummite Ventures DMCC</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>265</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5264822A87B79054B8FAF6761D6C33B7C11DAD9D</string>
						<key>dateExpires</key>
						<string>19/10/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SendBirdDesk.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N883C2D2B2</string>
						<key>name</key>
						<string>Nuummite Ventures DMCC</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>265</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5264822A87B79054B8FAF6761D6C33B7C11DAD9D</string>
						<key>dateExpires</key>
						<string>19/10/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SendbirdChatSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N883C2D2B2</string>
						<key>name</key>
						<string>Nuummite Ventures DMCC</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>265</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5264822A87B79054B8FAF6761D6C33B7C11DAD9D</string>
						<key>dateExpires</key>
						<string>19/10/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SendbirdUIKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N883C2D2B2</string>
						<key>name</key>
						<string>Nuummite Ventures DMCC</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>265</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5264822A87B79054B8FAF6761D6C33B7C11DAD9D</string>
						<key>dateExpires</key>
						<string>19/10/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Storyly.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N883C2D2B2</string>
						<key>name</key>
						<string>Nuummite Ventures DMCC</string>
					</dict>
					<key>versionNumber</key>
					<string>12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N883C2D2B2.elgrocer.com.ElGrocerShopper.SDK</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>N883C2D2B2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>el-grocer-shopper-sdk-iOS_Example.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>33df446f-fba0-4221-974c-fb20e6759165</string>
				<key>dateExpires</key>
				<string>19/10/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: elgrocer.com.ElGrocerShopper.SDK</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N883C2D2B2</string>
				<key>name</key>
				<string>Nuummite Ventures DMCC</string>
			</dict>
			<key>versionNumber</key>
			<string>12.0</string>
		</dict>
	</array>
</dict>
</plist>
